.hud {
   -webkit-text-fill-color: darkslateblue; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    display:inline-flex;
    padding: 10px;
    margin: 0;
    font-size: 3vw;
    vertical-align: top;
    position: relative;
    width:100%;  
}

#player {
    text-align: left;
    top:0;
    left:0; 
    width: 40%;
}

#CPU {
    text-align: right;
    top:0;
    right:0;
    width: 40%;
}

.sprite{
    width: 7%;
}

#match{
    text-align: center;
    top:0;
    margin: 0 auto;
    width: 10%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: black;
    text-align: center;
    display: inline-block;
    padding: 0;
}

#set{
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 5px;
}

#score{
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: deepskyblue; /* Will override color (regardless of order) */
    font-size: 4vw;
    padding:0;
}

.green{
    background: green;
}

.leaderBoard {
    border-radius: 25px;
    background: -webkit-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* Standard syntax (must be last) */
    width: 40%;
    margin: auto;
    margin-top: 2%;
    padding: 0px 0px 10px 0px;
}

ul {
    width: 100%;
    margin: 0px;
    display: block;
    list-style-type: none;
    padding: 0px;
}

li {
    display: list-item;
}

h1, h3 {
    margin: 0;
    padding: 10px 5px;
    color: white;
    text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
}

h3 {
    background-color: #1C458B;
    color: white;
    font-size: 1.5vw;
    text-align: center;
}

h1 {
    border-radius: 25px 25px 0px 0px;
    background-color: #4C6DA3;
    font-size: 2vw;
    text-align: center;
}
top3 {
  width: 100%;
  text-align: center;
  list-style: none;
  padding-left: 0;
  width: 70%;
  margin: auto;
  text-align: center;
}

.top3 li {
  line-height: 25px;
}

.lb-rank {
  float: left;
  text-align: center;
}

.lb-score {
  float: right;
  text-align: center;
}

.top3 li span {
    width: 33%;
    color: white;
    font-size: 1.25vw;
}

.message {
    font-size: 3vw;
    margin: auto;
    text-align: center;
    bottom: 2%;
}

.colorMessage{
	width: 60%;
    font-size: 3vw;
    color: white;
    text-align: center;
	border-radius: 25px;
    margin: auto;
	background: -webkit-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* Standard syntax (must be last) */
}

.colorMessage span {
    display: block;
}

.messageContainer {
    margin-top: 2%;
}

.big {
    width: 100px;
    height: 50px;
    margin: 10px;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #147487 100%);
	background-color:#79bbff;
	border-radius:15px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1vw;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	margin-top: 10px;
	vertical-align: top;
}
.myButton:hover {
	background:linear-gradient(to bottom, #147487 5%, #79bbff 100%);
	background-color:#147487;
}
.myButton:active {
	position:relative;
    top:1px;
}

.stonesLeft {
    display: inline;
    text-align: center;
 }

.congrats {
  	 padding-top: 4cm;
   
}

.rotationButton {
    padding-left: 30%;
    position: absolute;
    bottom: 5%;
    left: 0px; 
    cursor: default;
    font-size: 1.5vw;
}

.barPosition {
    position: absolute;
    padding-left: 52%;
    bottom: 55%;
}
.vertical {
    width:50%;
    transform: rotate(-90deg);
    position: absolute;
}

.colorProgress {
    background-image: -webkit-linear-gradient(left, white, red);
    }

.down {
    position:absolute;
    bottom: 5px;
    text-align: center;
    width: 100%; 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.congratulationContainer {
    margin-top: 20%;
}

.congratulationMessage {
    border-radius: 25px;
    text-align: center;
    font-size: 2vw;
    color: white;
    width: 75%;
    margin: auto;
    padding: 2%;
    background: -webkit-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* Standard syntax (must be last) */
}

.transparentButton {
    background: transparent;
    border: transparent;
    margin: 5%;
    height: 5%;
    width: 50%;
    cursor:pointer;
}

.questionmark {
    float: right;
}

.buttons {
    position: absolute;
    width: 10%;
    bottom: 5%;
    right: 5%;
}

.help {
    background-color: lightblue;
    text-align: center;
    bottom: 2%;
    cursor:default;
    border-radius: 15px;
    width: 30%;
    height: 35%;
    bottom: 0;
    right: 0;
    position: fixed;
}

.help li {
    padding-left: 2%;
    font-size: 1vw;
    text-align: left;
}
.help b {
    font-size: 1.5vw;
}
