.box{
    background-image: url("assets/images/curling-1.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
}

.box:before{
    content:"";
    display: block;
    padding-top: 62.5%;
}

/*.name{
    color: white;
    font-size: xx-large;
    padding-bottom: 1%;
}*/

.content{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.difficulty{
	width: 60%;
	text-align: center;
	display: inline-block;
    margin-top: 25%;
	color: white;
    font-size: 200%;
	border-radius: 25px;
	background: -webkit-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 29, 149, 0.8), rgba(86, 156, 250, 0.5)); /* Standard syntax (must be last) */
}

.box p {
    margin: 0;
}

.myButton {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	-moz-box-shadow:inset 0px 1px 0px 0px #2745BF;
	-webkit-box-shadow:inset 0px 1px 0px 0px #2745BF;
	box-shadow:inset 0px 1px 0px 0px #2745BF;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2648CF), color-stop(1, #011C87));
	background:-moz-linear-gradient(top, #2648CF 5%, #011C87 100%);
	background:-webkit-linear-gradient(top, #2648CF 5%, #011C87 100%);
	background:-o-linear-gradient(top, #2648CF 5%, #011C87 100%);
	background:-ms-linear-gradient(top, #2648CF 5%, #011C87 100%);
	background:linear-gradient(to bottom, #2648CF 5%, #011C87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2648CF', endColorstr='#011C87',GradientType=0);
	background-color:#2648CF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #0033FF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #011C87), color-stop(1, #2648CF));
	background:-moz-linear-gradient(top, #011C87 5%, #2648CF 100%);
	background:-webkit-linear-gradient(top, #011C87 5%, #2648CF 100%);
	background:-o-linear-gradient(top, #011C87 5%, #2648CF 100%);
	background:-ms-linear-gradient(top, #011C87 5%, #2648CF 100%);
	background:linear-gradient(to bottom, #011C87 5%, #2648CF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#011C87', endColorstr='#2648CF',GradientType=0);
	background-color:#011C87;
}
.myButton:active {
	position:relative;
	top:1px;
}

select {
	width: 40%;
	/*text-align: center;*/
	display: inline-block;
}