.head {
    font-size: 200%;
}
.box{
    background-image: url("assets/images/garden.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
}

.box:before{
    content:"";
    display: block;
    padding-top: 62.5%;
}

.name{
    color: white;
    font-size: xx-large;
    padding-bottom: 1%;
}

.content{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.formColor{
	width: 40%;
	border-radius: 25px;
    margin-top: 25%;
	display: inline-block;
	background: -webkit-linear-gradient(to bottom, rgba(0, 80, 115, 0.8), rgba(28, 113, 150, 0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 80, 115, 0.8), rgba(28, 113, 150, 0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 80, 115, 0.8), rgba(28, 113, 150, 0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 80, 115, 1), rgba(28, 113, 150, 0.5)); /* Standard syntax (must be last) */
}

.box p {
    margin: 0;
}

.myButton {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	-moz-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3dc21b;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
